* {
    margin: 0;
    padding: 0;
}

.cart-counter {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
}

.screen-container {
    min-height: 70vh;
}

textarea {
    resize: none;
}

.product-image {
    height: 400px;
    width: 100%;
}